.header {
  &.MuiPaper-root {
    position: fixed;
    background: $background-color;
    box-shadow: none;
    border-bottom: $block-border-style;
  }

  &__wrapper {
    &.MuiToolbar-root {
      justify-content: space-between;
      margin-top: 8px;
    }
  }

  &__logo {
    @include font-24-32-900;
    color: $main-color;
  }

  &__logout-button {
    &.MuiButtonBase-root {
      @include transparent-color-button;
      min-width: 0;
      width: 32px;
      height: 32px;
      border-radius: 6px;
      border: 1px solid #e7e8ef;
      background: #f5f6f9;
    }
  }

  &__logout-icon {
    opacity: 0.5;
    height: 20px;
    width: 20px;
  }
}
