.header {
  &.MuiPaper-root {
    position: fixed;
    background: $background-color;
    box-shadow: none;
    border-bottom: $block-border-style;
  }

  &__wrapper {
    &.MuiToolbar-root {
      justify-content: space-between;
      margin-top: 8px;

      @media (min-width: 0px) {
        min-height: 64px;
      }
    }
  }

  &__logo-container {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__logo {
    @include font-24-32-900;
    color: $main-color;
  }

  &__logout-button {
    &.MuiButtonBase-root {
      @include transparent-color-button;
      min-width: 0;
      width: 32px;
      height: 32px;
      border-radius: 6px;
      border: 1px solid #e7e8ef;
      background: #f5f6f9;
    }
  }

  &__logout-icon {
    opacity: 0.5;
    height: 20px;
    width: 20px;
  }

  &__burger-icon {
    display: none;
    align-items: center;
    width: 32px;
    height: 23px;

    &.active {
      transform: rotate(45deg);

      .header__burger-line {
        &::before {
          top: 0;
        }

        &::after {
          top: 0;
          transform: rotate(90deg);
        }
      }
    }

    @media (max-width: 767px) {
      display: flex;
    }
  }

  &__burger-line {
    position: relative;
    height: 3px;
    width: 32px;
    background: $main-color;

    &::before {
      content: "";
      position: absolute;
      top: -8px;
      width: 32px;
      height: 3px;
      background: $main-color;
    }

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      width: 32px;
      height: 3px;
      background: $main-color;
    }
  }
}
