.list-label {
  position: fixed;
  top: 24px;
  left: 276px;
  z-index: 1200;
  display: flex;
  gap: 8px;
  align-items: center;

  &__title {
    @include font-24-32-700;
  }

  &__count {
    &.MuiChip-root {
      height: fit-content;
      width: 80px;
      background: rgba($color: #3626a7, $alpha: 0.1);
      border-radius: 26px;

      .MuiChip-label {
        @include font-14-24-600;
        color: $main-color;
        padding: 4px 16px;
      }
    }
  }
}

.MuiButtonBase-root.MuiTableSortLabel-root {
  position: relative;
}

.MuiTableRow-root.MuiTableRow-hover.RaDatagrid-row:hover {
  background: #f8f9fc;
}

.MuiTableRow-head.RaDatagrid-headerRow {
  background: #e7e8ef;

  .MuiTableCell-head.RaDatagrid-headerCell {
    background: #e7e8ef;
  }
}

.MuiTableCell-root {
  &.MuiTableCell-head {
    @include font-14-24-600;
    background: #e7e8ef;
    height: 49px;
    padding: 6px 30px;

    &.column-userId {
      width: 30%;
      border-right: 1px solid $background-color;
    }

    &.column-id {
      width: 10%;
      border-right: 1px solid $background-color;
    }
  }

  &.MuiTableCell-body {
    @include font-14-24-400;
    padding: 0;
    height: 56px;
    padding: 6px 30px;

    &.column-id,
    &.column-userId {
      border-right: $block-border-style;
    }

    &.column-userId {
      width: 30%;
    }
  }
}
