.MuiModal-root {
  .MuiBox-root {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 384px;
    border-radius: 16px;
    background: url("../assets/images/modal_gradient.png") top no-repeat,
      url("../assets/images/modal_grid.png") top no-repeat $background-color;
    border-top: 1px solid $background-color;

    @media (max-width: 420px) {
      width: calc(100vw - 48px);
    }
  }
}

.modal {
  position: relative;
  padding: 8px 24px 24px;

  &__logout-icon {
    height: 24px;
    width: 24px;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 40px;
    @include font-18-24-700;
  }

  &__text {
    @include font-14-24-600;
    text-align: center;
    margin-bottom: 40px;
  }

  &__buttons {
    display: flex;
    gap: 24px;
  }

  &__cancel-button {
    &.MuiButtonBase-root {
      @include main-color-button;
      padding: 8px;
      flex-basis: 50%;
    }
  }

  &__close-button {
    &.MuiButtonBase-root {
      @include close-button;
      top: 3px;
      right: -8px;
      border: 2px solid #808080;
    }
  }
}

.logout {
  &__text {
    margin: 0 auto;
    color: $main-color;
  }

  &.MuiButtonBase-root.MuiMenuItem-root {
    @include transparent-color-button;
    padding: 8px;
    flex-basis: 50%;
    border: 1px solid $main-color;
    border-radius: 6px;
  }
}
