.profile-page {
  position: relative;
  padding: 15px 112px;
  top: -24px;

  &__back-button {
    &.MuiButtonBase-root {
      @include transparent-color-button;
      @include font-14-20-600;
      gap: 4px;
      margin-bottom: 16px;

      span {
        color: $title-color;
      }
    }
  }

  &__container {
    display: flex;
    gap: 32px;
  }
}

.profile-card {
  border: $block-border-style;
  border-radius: 8px;
  width: 488px;

  &__header {
    border-bottom: $block-border-style;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
  }

  &__label {
    @include font-16-24-700;
  }

  &__content {
    padding: 15px 16px 0;
  }

  &__fields {
    display: flex;
    gap: 16px;
    border-bottom: $block-border-style;
  }

  &__input-wrapper {
    flex-grow: 1;
    margin-bottom: 16px;
  }

  &__input-label {
    @include font-14-20-600;
    margin-bottom: 8px;
  }

  &__input {
    &.MuiFormControl-root {
      width: 100%;
    }

    .MuiInputBase-root {
      @include base-field;
      @include font-14-20-400;
      color: $text-color;
      border: 1px solid #ebebed;
      border-radius: 8px;

      .MuiInputBase-input {
        padding: 14px 16px;
      }
    }
  }

  &__edit-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 12px;

    &:not(:last-child) {
      border-bottom: $block-border-style;
    }
  }

  &__edit-field {
    @include font-14-24-600;
  }

  &__edit-button {
    &.MuiButtonBase-root {
      @include transparent-color-button;
      gap: 2px;

      span {
        color: $main-color;
      }
    }
  }
}

.logout-button {
  &.MuiButtonBase-root {
    @include transparent-color-button;
    color: $text-color;
  }
}

.profile-subscription {
  flex-grow: 1;

  &__label {
    @include font-24-32-700;
    margin-bottom: 16px;
  }

  &__card {
    border-radius: 8px;
    padding: 16px;
    gap: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #c9c1ff;
  }

  &__title {
    @include font-18-24-600;
    margin-bottom: 4px;
  }

  &__text {
    @include font-14-20-400;
  }

  &__button {
    &.MuiButtonBase-root {
      @include main-color-button;
      padding: 12px;
      min-width: 156px;
    }
  }
}
